#contact {
  .contact-title {
    display: flex;
    align-items: center;
    padding-left: var(--dynamic-grid-size);
    font-family: var(--font-title);
    font-size: 1rem;
    height: calc(2 * var(--dynamic-grid-size));
    width: calc(10 * var(--dynamic-grid-size));
    background: linear-gradient(135deg, var(--color-header-left), var(--color-header-right));
    margin-bottom: var(--dynamic-grid-size);
  }

  .contact {
    form {
      display: flex;
      flex-direction: column;
      gap: var(--dynamic-grid-size);

      .input-group {
        display: flex;
        flex-direction: column;

        label {
          line-height: var(--dynamic-grid-size);
          font-family: var(--font-title);
        }

        input {
          height: calc(2 * var(--dynamic-grid-size));
          border: 2px solid white;
          outline: none;
          background-color: transparent;
          font-size: 1.2rem;
          padding-left: var(--dynamic-grid-size);
          color: white;
          border-radius: 0;
        }
      }

      textarea {
        width: 100%;
        background-color: transparent;
        border: 2px solid white;
        height: calc(8 * var(--dynamic-grid-size));
        font-size: 1.2rem;
        resize: none;
        outline: none;
        padding: var(--dynamic-grid-size);
        color: white;
      }

      .submit {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        width: calc(6 * var(--dynamic-grid-size));
        height: calc(2 * var(--dynamic-grid-size));
        border: 2px solid white;
        align-self: end;
        cursor: pointer;
      }
    }

    .links {
      margin: var(--dynamic-grid-size) 0;
      display: flex;
      gap: var(--dynamic-grid-size);
      .link {
        width: calc(2 * var(--dynamic-grid-size));
        height: calc(2 * var(--dynamic-grid-size));
        border: 2px solid white;
        cursor: pointer;
        .icon{
          padding: 0.4rem;
          fill: white;
        }
      }
    }
  }
}


/*
#contact {
  height: calc(22 * var(--dynamic-grid-size));
  padding-top: calc(4 * var(--dynamic-grid-size));

  .contact-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    width: calc(6 * var(--dynamic-grid-size));
    height: calc(2 * var(--dynamic-grid-size));
  }

  form {
    margin: var(--dynamic-grid-size) 0;
    display: flex;
    flex-direction: column;
    gap: var(--dynamic-grid-size);

    .input-group {
      display: grid;
      grid-template-columns: calc(4 * var(--dynamic-grid-size)) auto;
      height: calc(2 * var(--dynamic-grid-size));
      gap: var(--dynamic-grid-size);

      .label {
        display: flex;
        align-items: center;
      }

      input {
        border: 2px solid white;
        background: transparent;
        outline: none;
        font-size: 1.2rem;
        color: white;
        height: 100%;
        width: 100%;
        padding-left: var(--dynamic-grid-size);
      }
    }

    textarea {
      background-color: transparent;
      border: 2px solid white;
      height: calc(6 * var(--dynamic-grid-size));
      font-size: 1.2rem;
      resize: none;
      outline: none;
      padding: var(--dynamic-grid-size);
      color: white;
    }

    .submit {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      width: calc(6 * var(--dynamic-grid-size));
      height: calc(2 * var(--dynamic-grid-size));
      border: 2px solid white;
      align-self: end;
      cursor: pointer;
    }
  }
}

@media (max-width:576px) {
  #contact {
    height: calc(32 * var(--dynamic-grid-size));
     .contact-title {
      font-size: 1.2rem;
     }
    form {
      .input-group {
        display: flex;
        flex-direction: column;
        gap: 0;
        height: auto;

        .label {
          height: var(--dynamic-grid-size);
        }

        input {
          height: calc(2 * var(--dynamic-grid-size));

        }
      }

      textarea {
        height: calc(12 * var(--dynamic-grid-size));
      }
    }
  }

}



#contact {
  form {
    display: flex;
    flex-direction: column;
    gap: $grid-width;
    margin-top: calc($grid-width * 2);

    .form-group {
      display: grid;
      grid-template-columns: 1fr 4fr;
      height: calc($grid-width * 2);
      align-items: center;

      input {
        height: 100%;
        background-color: transparent;
        border: 2px solid $color-border;
        outline: 0;
        padding-left: $grid-width;
        color: $color-font;
        font-size: 1.2rem;
      }
    }

    textarea {
      background-color: transparent;
      border: 2px solid $color-border;
      padding: $grid-width;
      color: $color-font;
      font-size: 1.2rem;
      resize: none;
    }

    .submit {
      width: calc($grid-width * 6);
      height: calc($grid-width * 2);
      background-color: transparent;
      border: 2px solid $color-border;
      color: $color-font;
      font-size: 1.2rem;
      cursor: pointer;
      align-self: end;
    }
  }
}

@media (max-width:$sm) {
  #contact {
    form {
      .form-group {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 0.4rem;

        label {
          align-self: flex-start;
        }

        input {
          width: 100%;
          height: calc($grid-width * 2);
        }
      }
    }
  }
}
*/


/*
#contact-us {
  scroll-margin-top: 3rem;

  .contact-title {
    height: 200px;

    video {
      width: 100%;
      height: 100%;
    }
  }

  form.contact-form {
    margin-bottom: 10vh;

    .grid {
      text-align: left;
    }
  }
}

.rvr-form-group {
  display: flex;
  width: 100%;
  margin-bottom: 15px;

  label {
    text-transform: uppercase;
    min-width: 145px;
    display: inline-block;
    margin: 8px 0;
    font-size: 1.1rem;
    letter-spacing: 5px;
    transition: all 0.5s;

    &.plans {
      min-width: 365px;
    }
  }

  .invalid {
    border-color: #ff3434;
  }

  span {
    transition: color 0.5s;
    display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-size: 0.8rem;
  }

  &.input-focus {
    label, span {
      color: var(--vt-neon);
      text-shadow: 0 0 2px #00FFFFFF, 0 0 5px #00FFFFFF, 0 0 10px #00FFFFFF;
    }

    input, textarea, .select {
      //@include glow();
    }
  }

  input, textarea {
    outline: none;
    background: none;
    height: 45px;
    border: 1px solid #fff;
    color: #fff;
    padding: 3px 10px;
    font-size: 1.2rem;
    transition: box-shadow 0.5s;
    width: 100%;
  }

  select {

    appearance: none;
    outline: 0;
    box-shadow: none;

    flex: 1;
    color: #fff;
    background-color: #3a4e67;
    background-image: none;
    cursor: pointer;
    padding: 0 0 0 50px;
    font-size: 1.2rem;
    border: none;

    &::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      background-color: #34495e;
      transition: .25s all ease;
      pointer-events: none;
    }


    &::-ms-expand {
      display: none;
    }
  }


  .select {
    position: relative;
    display: flex;
    width: 100%;
    height: 45px;
    overflow: hidden;
    padding: 3px 10px;
    border: 1px solid #fff;
    transition: box-shadow 0.5s;

    &::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      transition: .25s all ease;
      pointer-events: none;
    }

    &:hover::after {
      color: var(--vt-neon);
    }
  }

  &.checkbox-group {
    display: block;
    margin-bottom: 15px;

    input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }

    label {
      position: relative;
      cursor: pointer;

      &:before {
        content: '';
        -webkit-appearance: none;
        background-color: transparent;
        border: 1px solid #fff;
        height: 30px;
        width: 30px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 15px;
      }

      &:after {
        opacity: 0;
        transition: opacity 0.3s;
        display: block;
        content: '';
        width: 15px;
        height: 15px;
        position: absolute;
        top: 7px;
        left: 7px;
        border: 1px solid var(--vt-neon);
        background-color: var(--vt-neon);
        box-shadow: -1px 1px 10px 1px var(--vt-neon);
      }
    }

    input:checked + label:after {
      opacity: 1;
    }
  }


  &.textarea {
    display: block;

    label {
      width: 100%;
    }

    textarea {
      height: 200px;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      resize: vertical;
      min-height: 180px;
    }
  }
}

.submit-col {
  padding: 0;
  margin-top: 35px;

  button {
    float: right;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 30px;
    font-size: 1.2rem;
    transition: all 0.5s;
    cursor: pointer;
    letter-spacing: 0.4rem;

    &.active {
      background-color: var(--vt-neon);
      border-color: var(--vt-neon);
      color: #3a4e67;
    }

    &:hover {
      background-color: var(--vt-neon);
      border-color: var(--vt-neon);
      color: #3a4e67;
      box-shadow: -1px 1px 10px 1px var(--vt-neon);
    }
  }
}


@media (max-width: 480px) {
  .contact-title {
    video {
      object-fit: cover;
    }
  }

  .rvr-form-group label {
    font-size: 1rem;
    min-width: 120px;

    &.plans {
      min-width: 215px;
    }
  }

  .rvr-form-group select {
    padding: 0 0 0 30px;
  }

  .grid__col.s-padding-r {
    padding-right: 20px;
  }
}

@media (min-width: 1000px) {
  #contact-us .right-col {
    padding-left: 100px;
  }
}
*/