<section id="about">
    <div class="title">about.</div>
    <div class="about">
        <div class="about-left">
            <img src="assets/images/emil.png" alt="emil">
        </div>
        <div class="about-right">
            <div class="about2">Emil Suliman</div>
            <div class="about3">3</div>
        </div>
    </div>
    <div class="about-btns">
        <div class="about-btn">
            architecture
        </div>
        <div class="about-btn">
            visual storytelling
        </div>
        <div class="about-btn">
            personal
        </div>

    </div>
</section>