#about {
    .about {
        display: flex;
        flex-direction: column;
        gap: var(--dynamic-grid-size);

        .about-name {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--font-title);
            font-size: 1.2rem;
            height: calc(2 * var(--dynamic-grid-size));
            background: linear-gradient(135deg, var(--color-header-left), var(--color-header-right));
        }

        .about-img {
            width: 100%;
        }

        .about-btns {
            display: flex;
            flex-direction: column;
            gap: var(--dynamic-grid-size);

            .about-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                height: calc(2 * var(--dynamic-grid-size));
                border: 2px solid white;
                font-family: var(--font-title);
                font-size: 1rem;
                cursor: pointer;
            }

            .btn-active {
                background: linear-gradient(135deg, var(--color-header-left), var(--color-header-right));
                border: 0;
            }
        }

        .about-info {
            display: flex;
            flex-direction: column;
            padding: var(--dynamic-grid-size);
            background-color: white;
            color: black;

            .info-img {
                width: calc(16 * var(--dynamic-grid-size));
                aspect-ratio: 1 / 1;
                margin-bottom: var(--dynamic-grid-size);
            }

            .info-text {
                line-height: var(--dynamic-grid-size);
                font-size: 0.8rem;
                overflow: auto;
            }
        }
    }
}

@media (min-width: 576px) {
    #about {
        .about {
            position: relative;

            .about-img {
                width: calc(11 * var(--dynamic-grid-size));
            }

            .about-info {
                width: calc(22 * var(--dynamic-grid-size));

                .info-img {
                    width: 100%;
                }
            }

            .about-name {
                position: absolute;
                top: 0;
                left: calc(12 * var(--dynamic-grid-size));
                width: calc(10 * var(--dynamic-grid-size));
            }

            .about-btns {
                position: absolute;
                top: calc(3 * var(--dynamic-grid-size));
                left: calc(12 * var(--dynamic-grid-size));
                width: calc(10 * var(--dynamic-grid-size));
            }



        }
    }
}

@media (min-width: 768px) {
    #about {
        .about {
            .about-info {
                width: calc(28 * var(--dynamic-grid-size));
            }

            .about-name {
                width: calc(16 * var(--dynamic-grid-size));
            }

            .about-btns {
                width: calc(16 * var(--dynamic-grid-size));
            }
        }
    }
}

// 992


@media (min-width: 1200px) {
    #about {
        .about {
            .about-img {
                width: calc(18 * var(--dynamic-grid-size));
            }

            .about-name {
                left: calc(19 * var(--dynamic-grid-size));
                width: calc(29 * var(--dynamic-grid-size));
            }

            .about-btns {
                position: static;
            }

            .about-info {
                position: absolute;
                top: calc(3 * var(--dynamic-grid-size));
                left: calc(19 * var(--dynamic-grid-size));
                width: calc(29 * var(--dynamic-grid-size));
                height: calc(15 * var(--dynamic-grid-size));

                .info-img {
                    width: calc(7 * var(--dynamic-grid-size));
                    float: right;
                }

                .info-text {
                    font-size: 1.2rem;
                }
            }

            .about-btns {
                flex-direction: row;
                width: auto;

                .about-btn {
                    width: calc(9 * var(--dynamic-grid-size));
                }
            }
        }
    }
}