<section id="about">
    <div class="about">
        <div class="about-name">Emil Suliman</div>
        <video #emilVideo muted playsinline class="about-img">
            <source src="assets/images/emil.webm" type="video/webm">
            Your browser does not support the video tag.
        </video>
        <div class="about-btns">
            <div class="about-btn" [ngClass]="{'btn-active':selectedField==0}" (click)="onFieldChange(0)">
                architecture</div>
            <div class="about-btn" [ngClass]="{'btn-active':selectedField==1}" (click)="onFieldChange(1)">
                visual storytelling</div>
            <div class="about-btn" [ngClass]="{'btn-active':selectedField==2}" (click)="onFieldChange(2)">
                personal</div>
        </div>
        <div class="about-info">
            <video #aboutVideo autoplay loop muted class="info-img">
                <source [src]="about[selectedField].img" type="video/webm">
                Your browser does not support the video tag.
            </video>
            <p class="info-text"> {{about[selectedField].info}}</p>
        </div>
    </div>
</section>