@use '../../../vars' as *;

#about {
    padding-top: calc($grid-width * 4);

    .about {
        display: flex;
        gap: $grid-width;
        position: relative;

        .about-left {
            .about-img {
                width: 100%;
                max-width: calc(18 * $grid-width);
                margin-bottom: $grid-width;
            }

            .about-btns {
                display: flex;
                flex-direction: column;
                gap: $grid-width;

                .about-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid $color-border;
                    height: calc(3 * $grid-width);
                    cursor: pointer;
                }

                .active {
                    background: linear-gradient(135deg, $color-title-left, $color-title-right);
                }
            }
        }

        .about-right {
            display: flex;
            flex-direction: column;
            gap: $grid-width;
            width: 100%;

            .about-name {
                width: 100%;
                font-size: 1.8rem;
            }

            .about-info {
                width: 100%;
                height: 100%;
                background-color: white;
                position: relative;

                .about-info-text {
                    text-align: justify;
                    line-height: 1.4rem;
                    padding: $grid-width;
                    font-size: 1.2rem;
                    font-weight: 100;
                    color: black;
                }

                .about-info-img {
                    position: absolute;
                    bottom: $grid-width;
                    right: $grid-width;
                    width: calc(8 * $grid-width);
                    height: calc(8 * $grid-width);
                    background-color: tomato;
                }
            }
        }
    }
}

@media only screen and (max-width: $sm) {
    #about {
        .about {
            flex-direction: column;

            .about-left {
                .about-img {
                    max-width: 100%;
                }
            }

            .about-right {

                .about-name {
                    display: none;
                }

                .about-info {
                    .about-info-text {
                        font-size: 1rem;
                    }
                }

            }
        }
    }
}

/*
#about {
    padding-top: calc($grid-width * 4);

    .about {
        display: flex;
        gap: $grid-width;

        .about-left {
            width: 100%;
            max-width: calc(20 * $grid-width);
            max-height: calc(20 * $grid-width);

            img {
                width: 100%;
                height: 100%;
            }
        }

        .about-right {
            width: 100%;

            .about-name {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.6rem;
                width: 100%;
                height: calc(2 * $grid-width);
                @include gradient-title;
                margin-bottom: $grid-width;
            }

            .about-info {
                width: 100%;
                height: calc(100% - 3 * $grid-width);
                background-color: white;
                color: black;
                padding: $grid-width;
                position: relative;
                .info-img{
                    position: absolute;
                    width: calc(6* $grid-width);
                    height:  calc(6* $grid-width);
                    right: 10px;
                    bottom: 10px;
                    background-color: lightcoral;
                }
            }
        }
    }

    .about-btns {
        display: flex;
        gap: $grid-width;
        margin-top: $grid-width;

        .about-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(2 * $grid-width);
            width: calc(12 * $grid-width);
            border: 2px solid $color-border;
            cursor: pointer;
        }

        .active {
            background: linear-gradient(135deg, $color3, $color1);
        }
    }
}

@media only screen and (max-width: $small) {
    #about {
        .about {
            display: block;

            .about-left {
                width: 100%;
                max-width: 100%;
                max-height: 100%;
                margin-bottom: $grid-width;
            }

            .about-right {
                width: 100%;

                .about-info {
                    height: calc(20 * $grid-width);
                }
            }
        }

        .about-btns {
            flex-direction: column;

            .about-btn {
                width: 100%;
            }

            .active {
                background: linear-gradient(135deg, $color3, $color1);
            }
        }
    }
}
    */