#cases {
    padding: 0;
    margin: 0 0 calc(4 * var(--dynamic-grid-size)) 0;

    .cases {
        background-color: white;
        padding-top: var(--dynamic-grid-size);
        position: relative;

        .cases-title {
            margin-left: var(--dynamic-grid-size);
        }

        .cases-arrows {
            position: absolute;
            top: var(--dynamic-grid-size);
            right: var(--dynamic-grid-size);
            width: calc(5 * var(--dynamic-grid-size));
            height: calc(2 * var(--dynamic-grid-size));
            display: flex;
            justify-content: space-between;

            .arrow-btn {
                border: none;
                outline: none;
                width: calc(2 * var(--dynamic-grid-size));
                height: calc(2 * var(--dynamic-grid-size));
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                background-color: transparent;

                &:hover {

                    .arrow {
                        fill: var(--color-header-right);
                    }

                }

                .arrow {
                    height: calc(2 * var(--dynamic-grid-size));
                    fill: gray;
                    pointer-events: none;
                }

                .arrow-btn * {
                    pointer-events: none;
                    /* Disables interactions on all child elements */
                }
            }
        }

        .case {
            padding: var(--dynamic-grid-size);
            overflow: hidden;

            .case-slider {
                width: calc(25 * var(--dynamic-grid-size));
                height: calc(25 * var(--dynamic-grid-size));
                margin-bottom: var(--dynamic-grid-size);
            }

            .case-info {
                color: black;

                .case-title {
                    height: calc(2 * var(--dynamic-grid-size));
                    font-family: var(--font-title);
                    font-size: var(--size-title);
                }

                .case-text {
                    line-height: calc(2 * var(--dynamic-grid-size));
                    font-size: var(--size-text);
                }

            }
        }

        .progress-container {
            width: 100%;
            height: var(--dynamic-grid-size);
            z-index: 19;

            .progress-bar {
                height: 100%;
                background: linear-gradient(90deg, var(--color-header-left), var(--color-header-right));
                transition: width 0.3s ease;
                border-radius: 0 2px 2px 0;
            }
        }
    }
}

.xx {
    width: 500px;
    height: 500px;
}

@media (min-width:576px) {
    #cases {
        .cases {
            .case {
                display: grid;
                grid-template-columns: auto 1fr;
                gap: var(--dynamic-grid-size);

                .case-slider {
                    width: calc(14 * var(--dynamic-grid-size));
                    height: calc(14 * var(--dynamic-grid-size));
                    margin-bottom: var(--dynamic-grid-size);
                }

                .case-info {
                    color: black;

                    .case-title {
                        height: calc(2 * var(--dynamic-grid-size));
                        font-family: var(--font-title);
                        font-size: var(--size-title);
                    }

                    .case-text {
                        line-height: var(--dynamic-grid-size);
                        font-size: var(--size-text);
                    }

                }
            }


        }
    }
}