<section id="cases">
  <div class="cases">
    <div class="title cases-title">cases.</div>
    <div class="cases-arrows">
      <button class="arrow-btn" (click)="prevSlide()" aria-label="Previous slide">
        <svg viewBox="0 0 34 42" class="arrow">
          <path d="M20.067 1L0 21.068L19.569 40.637l4.933-4.933L9.864 21.068L25 5.933z" />
        </svg>
      </button>
      <button class="arrow-btn" (click)="nextSlide()" aria-label="Next slide">
        <svg viewBox="0 0 34 42" class="arrow">
          <path d="M13.933 1L34 21.068L14.431 40.637l-4.933-4.933l14.638-14.636L9 5.933z" />
        </svg>
      </button>
    </div>
    <div class="case" #slide>
      <div class="case-slider">
        <app-slider [slides]="cases[currentSlide].images" [config]="sliderConfig"></app-slider>
      </div>
      <div class="case-info">
        <div class="case-title">
          {{ cases[currentSlide].title }}
        </div>
        <div class="case-text" [innerHTML]="cases[currentSlide].description">
        </div>
      </div>
    </div>
    <div class="progress-container">
      <div class="progress-bar" [style.width.%]="((currentSlide + 1) / cases.length) * 100"></div>
    </div>
  </div>
</section>