#cases {
    padding: 0;
    margin: 0 0 calc(4 * var(--dynamic-grid-size)) 0;
    position: relative;

    .big-slider-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4000;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        .big-slider {
            aspect-ratio: 1/1;
            width: 100%;
            position: relative;
            cursor: default !important;
            background-color: white;
        }

        .exit {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: var(--dynamic-grid-size);
            top: var(--dynamic-grid-size);
            width: calc(1.4 * var(--dynamic-grid-size));
            height: calc(1.4 * var(--dynamic-grid-size));
            z-index: 21;
            border-radius: 0;
            background-color: gray;
            color: var(--color-header-right);
            outline: none;
            border: none;
            cursor: pointer;
        }
    }

    .no {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        color: black;
        height: calc(12 * var(--dynamic-grid-size));
        width: 100%;
        user-select: none;

        .empty {
            height: calc(10 * var(--dynamic-grid-size));
        }
    }

    .cases {
        background-color: white;
        padding-top: var(--dynamic-grid-size);
        position: relative;
        border:2px solid black;

        .cases-title {
            display: flex;
            justify-content: center;
            //padding: 0 var(--dynamic-grid-size);
            margin-left: var(--dynamic-grid-size);
            width: calc(19 * var(--dynamic-grid-size));
            position: relative;

            .icon {
                position: absolute;
                right: 7px;
                top: 0;
                height: calc(2 * var(--dynamic-grid-size));
                padding: 7px;
                fill: white;
                cursor: pointer;
            }

            .hide,
            .show {
                @media (max-width:1200px) {
                    display: none;
                }
            }
        }

        .cases-arrows {
            position: absolute;
            top: var(--dynamic-grid-size);
            right: var(--dynamic-grid-size);
            width: calc(5 * var(--dynamic-grid-size));
            height: calc(2 * var(--dynamic-grid-size));
            display: flex;
            justify-content: space-between;

            .arrow-btn {
                border: none;
                outline: none;
                width: calc(2 * var(--dynamic-grid-size));
                height: calc(2 * var(--dynamic-grid-size));
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                background-color: transparent;

                &:hover {

                    .arrow {
                        fill: var(--color-header-right);
                    }

                }

                .arrow {
                    height: calc(2 * var(--dynamic-grid-size));
                    fill: gray;
                    pointer-events: none;
                }

                .arrow-btn * {
                    pointer-events: none;
                    /* Disables interactions on all child elements */
                }
            }
        }


        .cases-filters {
            margin: 0 var(--dynamic-grid-size);
            //border: 2px solid black;
            font-family: var(--font-title);
            //height: calc(2 * var(--dynamic-grid-size));
            user-select: none;
            //width: calc(7 * var(--dynamic-grid-size));
            max-width: calc(25 * var(--dynamic-grid-size));
            box-sizing: border-box;
            background: var(--color-header-right) !important;

            .filters-title {
                display: flex;
                align-items: center;
                padding-left: 4px;
                height: calc(2 * var(--dynamic-grid-size));
                //height: calc(2 * var(--dynamic-grid-size) - 4px);
                //width: calc(8 * var(--dynamic-grid-size));
                cursor: pointer;
                box-sizing: border-box;
                display: none;

                .icon {
                    fill: white;
                    height: calc(1.2 * var(--dynamic-grid-size));
                }

                .filter-arrow {
                    fill: black;
                    height: var(--dynamic-grid-size);
                    margin-left: 4px;
                }
            }

            .filters {
                display: none;
                grid-template-columns: 1fr 1fr;
                width: calc(25 * var(--dynamic-grid-size));

                .filter-btn {
                    display: flex;
                    align-items: center;
                    padding-left: var(--dynamic-grid-size);
                    height: calc(2 * var(--dynamic-grid-size));
                    opacity: 0;
                    background-color: transparent;
                    cursor: pointer;
                    color: lightgray;
                    font-weight: 300;
                    font-family: var(--font-title);
                    font-size: calc(0.8 * var(--size-title));
                    user-select: none;

                    &.active {
                        color: white !important;
                    }
                }
            }
        }

        .case {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: var(--dynamic-grid-size);

            overflow: hidden;

            .case-slider {
                width: calc(25 * var(--dynamic-grid-size));
                height: calc(25 * var(--dynamic-grid-size));
                margin-bottom: var(--dynamic-grid-size);
                cursor: zoom-in;
            }



            .case-info {
                color: black;
                position: relative;


                .case-title {
                    height: calc(2 * var(--dynamic-grid-size));
                    font-family: var(--font-title);
                    font-size: var(--size-title);
                }

                .case-text {
                    line-height: calc(2 * var(--dynamic-grid-size));
                    font-size: var(--size-text);
                }

                .tags {
                    display: flex;
                    justify-content: space-between;
                    gap: var(--dynamic-grid-size);
                    margin-top: var(--dynamic-grid-size);
                    user-select: none;

                    .div-tags {
                        display: flex;
                        flex-direction: column;

                        .tag {
                            text-align: center;
                            color: gray;
                            width: fit-content;
                            height: var(--dynamic-grid-size);

                            &.contain {
                                background-color: red;
                            }
                        }
                    }



                    .youtube {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }


            }
        }

        .progress-container {
            width: 100%;
            height: var(--dynamic-grid-size);
            z-index: 19;

            .progress-bar {
                height: 100%;
                background: linear-gradient(90deg, var(--color-header-left), var(--color-header-right));
                transition: width 0.3s ease;
                border-radius: 0 2px 2px 0;
            }
        }
    }
}


@media (min-width:576px) {
    #cases {
        .cases {
            .cases-filters {
                max-width: calc(35 * var(--dynamic-grid-size));

                .filters {
                    width: calc(35 * var(--dynamic-grid-size));
                }
            }

            .case {
                .case-info {
                    .tags {
                        .div-tags {
                            flex-direction: row;
                            gap: var(--dynamic-grid-size);
                        }
                    }
                }
            }

        }
    }
}


@media (min-width:1200px) {
    #cases {
        position: relative;


        .big-slider-container {
            .big-slider {
                aspect-ratio: 1/1;
                height: 100%;
                max-height: 500px;
                width: auto;
            }
        }

        .cases-title {
            width: calc(18 * var(--dynamic-grid-size))
        }

        .cases {
            margin-bottom: calc(6 * var(--dynamic-grid-size));

            .cases-filters {
                position: absolute;
                top: var(--dynamic-grid-size);
                left: calc(20 * var(--dynamic-grid-size));
                max-width: calc(39 * var(--dynamic-grid-size));

                .filters {
                    position: absolute;
                    top: 0;
                    left: var(--dynamic-grid-size);
                    //left: calc(7 * var(--dynamic-grid-size));
                    width: calc(37 * var(--dynamic-grid-size)); // 32
                    //grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                    display: flex !important;
                    justify-content: space-between;
                    //gap: 4px;
                    padding: 0;
                    margin: 0;

                    .filter-btn {
                        padding-left: 0;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        height: calc(2 * var(--dynamic-grid-size)); // height: calc(2 * var(--dynamic-grid-size) - 4px)
                        width: 100%;
                        width: fit-content;

                        &.active {
                            color: black;
                        }
                    }
                }
            }

            .case {
                display: grid;
                grid-template-columns: auto 1fr;
                gap: var(--dynamic-grid-size);
                align-items: flex-start;

                .case-slider {
                    width: calc(19 * var(--dynamic-grid-size));
                    height: calc(19 * var(--dynamic-grid-size));
                }


                .case-info {
                    .case-text {
                        line-height: var(--dynamic-grid-size);
                    }

                }
            }

        }
    }
}


@media (min-width:1600px) {
    #cases {
        .big-slider-container {
            .big-slider {
                aspect-ratio: 1/1;
                height: 100%;
                max-height: 800px;
                width: auto;
            }
        }

        .cases {
            .cases-filters {
                max-width: calc(49 * var(--dynamic-grid-size));

                .filters {
                    width: calc(47 * var(--dynamic-grid-size));

                    .filter-btn {

                        font-size: calc(1 * var(--size-title));

                    }
                }
            }
        }
    }
}

@media (min-width:2200px) {
    #cases {

        .big-slider-container {
            .big-slider {
                aspect-ratio: 1/1;
                height: 100%;
                max-height: 1000px;
                width: auto;
            }
        }

        .cases {
            .cases-filters {
                max-width: calc(59 * var(--dynamic-grid-size));

                .filters {
                    width: calc(57 * var(--dynamic-grid-size));
                }
            }
        }
    }
}