#resume {
    .resume {
        .resume-title {
            // position: sticky;
            // position: -webkit-sticky;
            //top: calc(4 * var(--dynamic-grid-size));
            margin-bottom: calc(2 * var(--dynamic-grid-size));
            z-index: 3;

            @media (min-width:1200px) {
                display: none;
            }
        }

        .timeline-wrapper {
            width: calc(25 * var(--dynamic-grid-size));
            height: calc(68 * var(--dynamic-grid-size));
            z-index: -1;
        }

        .wrapper {
            width: calc(25 * var(--dynamic-grid-size));
            position: sticky;
            position: -webkit-sticky;
            bottom: var(--dynamic-grid-size);
            margin-top: calc(3 * var(--dynamic-grid-size));

            .desktop-title {
                display: none;
            }

            .map-wrapper {
                width: 100%;
                border: 2px solid white;
                overflow: hidden;

                .map {
                    transform: scale(2.4);
                }
            }
        }

        .desktop {
            display: none;
        }
    }
}

@media (min-width:1200px) {
    #resume {
        .resume {
            display: grid;
            grid-template-columns: repeat(45, var(--dynamic-grid-size));
            grid-template-rows: repeat(71, var(--dynamic-grid-size));
            .wrapper {
                grid-row: 1;
                grid-column-start: 1;
                grid-column-end: 19;
                width: auto;
               
                position: sticky;
                top: calc(4 * var(--dynamic-grid-size));
                margin: 0;

                .desktop-title {
                    display: flex;
                }

                .map-wrapper {
                    height: calc(100% - var(--dynamic-grid-size));
                    .map {
                        transform: scale(4);
                    }
                }
            }


            .timeline-wrapper {
                grid-row: 4;
                grid-column-start: 21;
                grid-column-end: 46;
            }
        }
    }
}

@media (min-width:1600px) {
    #resume {
        .resume {
            display: grid;
            grid-template-columns: repeat(43, var(--dynamic-grid-size));
            grid-template-rows: repeat(71, var(--dynamic-grid-size));
            .wrapper {
                grid-row: 1;
                grid-column-start: 1;
                grid-column-end: 18;
                width: auto;
               
                position: sticky;
                top: calc(4 * var(--dynamic-grid-size));
                margin: 0;

                .desktop-title {
                    display: flex;
                }

                .map-wrapper {
                    height: calc(100% - var(--dynamic-grid-size));
                    .map {
                        transform: scale(4.8);
                    }
                }
            }


            .timeline-wrapper {
                grid-row: 4;
                grid-column-start: 19;
                grid-column-end: 46;
            }
        }
    }
}
