<section id="resume">
  <div class="resume" *ngIf="isLoaded">
    <div class="title resume-title">timeline.</div>
    <div class="timeline-wrapper" #timelineSection>
      <ng-lottie [options]="timeLineOptions" (animationCreated)="onTimelineAnimationCreated($event)" />
    </div>
    <div class="map-wrapper" [style.height.px]="mapHeight">
      <div class="map">
        <ng-lottie [options]="mapOptions" (animationCreated)="onMapAnimationCreated($event)" />
      </div>
    </div>
  </div>
</section>