#resume {
    .resume {
        .resume-title {
            position: sticky;
            top: calc(4 * var(--dynamic-grid-size));
            z-index: 3;
        }

        .timeline-wrapper {
            width: calc(25 * var(--dynamic-grid-size));
            height: calc(68 * var(--dynamic-grid-size));
            z-index: -1;
        }

        .map-wrapper {
            position: sticky;
            position: -webkit-sticky;
            bottom: var(--dynamic-grid-size);
            width: calc(25 * var(--dynamic-grid-size));
            height: calc(15 * var(--dynamic-grid-size));
            margin-top: calc(3 * var(--dynamic-grid-size));
            border: 2px solid white;
            overflow: hidden;

            .map {
                transform: scale(2.4);
            }
        }
    }
}

@media (min-width:576px) {
    #resume {

        .resume {
            display: grid;
            grid-template-columns: repeat(35, var(--dynamic-grid-size));
            grid-template-rows: repeat(76, var(--dynamic-grid-size));

            .map-wrapper {
                grid-row: 4;
                grid-column-start: 1;
                grid-column-end: 10;
                width: 100% !important;
                height: calc(6 * var(--dynamic-grid-size));
                position: sticky;
                top: calc(7 * var(--dynamic-grid-size));
                bottom: auto;
                margin-top: 0;

                .map {
                    transform: scale(3.8);
                }
            }

            .timeline-wrapper {
                grid-row: 4;
                grid-column-start: 11;
                grid-column-end: 36;
            }
        }
    }
}

@media (min-width:1200px) {
    #resume {

        .resume {
            grid-template-columns: repeat(45, var(--dynamic-grid-size));

            .map-wrapper {
                grid-column-end: 20;
                height: calc(14 * var(--dynamic-grid-size));
                position: sticky;

                .map {
                    transform: scale(4.4);
                }
            }

            .timeline-wrapper {
                grid-row: 4;
                grid-column-start: 21;
                grid-column-end: 46;

            }
        }
    }

}