footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(8 * var(--dynamic-grid-size));
    .whale {
        width: 6rem;
    }
}

