<section id="home"><!--
  <app-falling-text
  [text]="'Visualisation Animation Innovative Architecture Solutions'"
  [highlightWords]="['Emil', 'innovative', 'exceptional', 'experiences']"
  [trigger]="'click'"
  [gravity]="0.5"
  [fontSize]="'1.6rem'"
  style="width: 100%; height: 500px; display: block;">
</app-falling-text>
  <app-liquid-ether
  [mouseForce]="20"
  [cursorSize]="100"
  [isViscous]="false"
  [viscous]="30"
  [iterationsViscous]="32"
  [iterationsPoisson]="32"
  [dt]="0.014"
  [BFECC]="true"
  [resolution]="0.5"
  [isBounce]="false"
  [colors]="['#5227FF', '#FF9FFC', '#B19EEF']"
  [autoDemo]="true"
  [autoSpeed]="0.5"
  [autoIntensity]="2.2"
  [takeoverDuration]="0.25"
  [autoResumeDelay]="1000"
  [autoRampDuration]="0.6"
  style="width: 100%; height: 400px;">
</app-liquid-ether>
  -->
  <div class="home">
    <p class="home-hello">
      hello,
      <br />
      We a re a multidiciblinary
      <br />
      designe team, ready to realize
      <br /> your ambition visions!
    </p>
  </div>

</section>