.admin {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    form {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 32px;

        input {
            background-color: transparent;
            outline: none;
            border: none;
            border-bottom: 2px solid white;
            color: white;
            font-size: 24px;
        }

        .submit {
            padding: 12px;
            max-width: 200px;
        }
    }
}