#home {
    padding-top: calc(6 * var(--dynamic-grid-size));
    position: relative;
    margin-left: 0;
    margin-right: 0;


    .pixel-blob-container {
        margin-bottom: var(--dynamic-grid-size);
    }

    .control {
        position: absolute;
        bottom: var(--dynamic-grid-size);
        width: 100%;
    }
}

@media (min-width:1600px) {
    #home {
        .control {
            right: calc(6 * var(--dynamic-grid-size))
        }
    }

}