#home {
    height: calc(24 * var(--dynamic-grid-size));
    margin: 0;
    padding-top: calc(6 * var(--dynamic-grid-size));

    .pixel-blob-container {
        height: calc(18 * var(--dynamic-grid-size));
    }
}