#home {
    margin: 0;
    padding-top: calc(6 * var(--dynamic-grid-size));
    position: relative;
    min-height: 100vh;
    .canvas{
        background-color: rgba(255, 99, 71, 0.308);
    }

    .pixel-blob-container {
        margin-bottom:var(--dynamic-grid-size);
    }

    .control{
        position: absolute;
        bottom: var(--dynamic-grid-size);
        width: 100%;
    }
}