@use '../../../vars' as *;

#main {
    margin-left: -1px;
    background-image:
        linear-gradient($grid-stroke-color $grid-stroke-width, transparent $grid-stroke-width),
        linear-gradient(90deg, $grid-stroke-color $grid-stroke-width, transparent $grid-stroke-width);
    background-size: $grid-width $grid-width;
}

.blur{
    filter: blur(10px);
}