#contact {
    position: relative;

    .msg {
        position: absolute;
        left: calc(9 * var(--dynamic-grid-size));
        right: 0;
        height: calc(2 * var(--dynamic-grid-size));
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(9, 109, 26, 0.24);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: var(--dynamic-grid-size);

        .input-group {
            display: flex;
            flex-direction: column;

            label {
                line-height: var(--dynamic-grid-size);
                font-family: var(--font-title);
                font-size: var(--size-title);
            }

            input {
                height: calc(2 * var(--dynamic-grid-size));
                border: 2px solid white;
                outline: none;
                background-color: transparent;
                font-size: var(--size-title);
                padding-left: var(--dynamic-grid-size);
                color: white;
                border-radius: 0;

                &:hover {
                    background: #226b2238;
                    color: var(--color-header-right);
                    box-shadow: 6px 6px 1px var(--color-header-right);
                }

            }
        }

        textarea {
            width: 100%;
            background-color: transparent;
            border: 2px solid white;
            height: calc(5 * var(--dynamic-grid-size));
            font-size: var(--size-title);
            resize: vertical;
            outline: none;
            padding: var(--dynamic-grid-size);
            color: white;

            &:hover {
                background: #226b2238;
                color: var(--color-header-right);
                box-shadow: 6px 6px 1px var(--color-header-right);
            }
        }

        .submit {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--font-title);
            font-size: var(--size-title);
            width: calc(6 * var(--dynamic-grid-size));
            height: calc(2 * var(--dynamic-grid-size));
            border: 2px solid white;
            outline: none;
            align-self: end;
            cursor: pointer;
            background-color: transparent;
            color: white;

            &:disabled {
                background-color: rgb(114, 111, 111);
                cursor: not-allowed;
            }

            &:hover:not(:disabled) {
                background: var(--gradient-title);
                border: none;
            }

            &.loading {
                position: relative;
                color: transparent;

                &::after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: 50%;
                    left: 50%;
                    margin: -10px 0 0 -10px;
                    border: 2px solid transparent;
                    border-top: 2px solid white;
                    border-radius: 50%;
                    animation: spin 1s linear infinite;
                }
            }


        }
    }


    .links {
        position: absolute;
        bottom: 0;
        display: flex;
        gap: var(--dynamic-grid-size);

        .link {
            cursor: pointer;
            width: calc(2 * var(--dynamic-grid-size));
            height: calc(2 * var(--dynamic-grid-size));

            .icon {
                padding: 4px;
                border: 2px solid #fff;
                fill: #fff;
                transition: all 0.6s ease;

                &:hover {
                    background: var(--gradient-title);
                    border: none;
                }
            }
        }
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-title);
        width: calc(14 * var(--dynamic-grid-size));
        height: var(--dynamic-grid-size);
        background: var(--gradient-title);
        margin-top: var(--dynamic-grid-size);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}