#contact {
    position: relative;

    form {
        display: flex;
        flex-direction: column;
        gap: var(--dynamic-grid-size);

        .input-group {
            display: flex;
            flex-direction: column;

            label {
                line-height: var(--dynamic-grid-size);
                font-family: var(--font-title);
            }

            input {
                height: calc(2 * var(--dynamic-grid-size));
                border: 2px solid white;
                outline: none;
                background-color: transparent;
                font-size: 1.2rem;
                padding-left: var(--dynamic-grid-size);
                color: white;
                border-radius: 0;

                &:hover {
                    background: #226b2238;
                    color: var(--color-header-right);
                    box-shadow: 6px 6px 1px var(--color-header-right);
                }

            }
        }

        textarea {
            width: 100%;
            background-color: transparent;
            border: 2px solid white;
            height: calc(6 * var(--dynamic-grid-size));
            font-size: 1.2rem;
            resize: vertical;
            outline: none;
            padding: var(--dynamic-grid-size);
            color: white;

            &:hover {
                background: #226b2238;
                color: var(--color-header-right);
                box-shadow: 6px 6px 1px var(--color-header-right);
            }
        }

        .submit {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            width: calc(6 * var(--dynamic-grid-size));
            height: calc(2 * var(--dynamic-grid-size));
            border: 2px solid white;
            align-self: end;
            cursor: pointer;

            &:hover {
                background: var(--gradient-title);
                border:none;
            }
        }
    }


    .links {
        position: absolute;
        bottom: 0;
        display: flex;
        gap: var(--dynamic-grid-size);

        .link {
            cursor: pointer;
            width: calc(2 * var(--dynamic-grid-size));
            height: calc(2 * var(--dynamic-grid-size));

            .icon {
                padding: 0.4rem;
                border: 2px solid #fff;
                fill: #fff;
                transition: all 0.6s ease;

                &:hover {
                    background: var(--gradient-title);
                    border:none;
                }
            }
        }
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-title);
        width: calc(14 * var(--dynamic-grid-size));
        height: var(--dynamic-grid-size);
        background: var(--gradient-title);
        margin-top: var(--dynamic-grid-size);
    }
}