@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@font-face {
    font-family: "lcd_solidregular";
    src: url("assets/fonts/lcdsolid/lcdsolid-vpzb-webfont.woff2") format("woff2"),
        url("assets/fonts/lcdsolid/lcdsolid-vpzb-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    // colors
    --color-bg-top: #171717;
    --color-bg-bottom: #111623;
    --color-header-left: #226B22;
    --color-header-right: #ACC424;
    --color-text-primary: #fff;
    --color-text-secondary: rgba(255, 255, 255, 0.8);
    --gradient-title: linear-gradient(135deg, var(--color-header-left), var(--color-header-right));
    // Grid
    --dynamic-grid-size: 20px;
    --grid-stroke-color: rgba(196, 202, 196, 0.1);
    --grid-stroke-width: 1px;
    --margin: 0;
    // Font
    --font-main: "League Spartan", sans-serif;
    --font-title: "lcd_solidregular", sans-serif;
    --size-name: calc(1.2 * var(--dynamic-grid-size));
    --size-title: calc(1 * var(--dynamic-grid-size));
    --size-text: calc(0.8 * var(--dynamic-grid-size));
    --size-nav: calc(0.74 * var(--dynamic-grid-size));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0 var(--margin);
    background: linear-gradient(to bottom, var(--color-bg-top), var(--color-bg-bottom));
    font-family: var(--font-main);
    color: var(--color-text-primary);
    line-height: var(--dynamic-grid-size);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    scroll-margin-top: calc(4 * var(--dynamic-grid-size));
    margin: 0 var(--dynamic-grid-size) calc(4 * var(--dynamic-grid-size)) var(--dynamic-grid-size);

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(8 * var(--dynamic-grid-size));
        height: calc(2 * var(--dynamic-grid-size));
        margin-bottom: var(--dynamic-grid-size);
        background: var(--gradient-title);
        font-family: var(--font-title);
        font-size: var(--size-title);
        user-select: none;
    }
}

img,
video {
    max-width: 100%;
    height: auto;
    display: block;
}

/* WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, var(--color-bg-top), var(--color-bg-bottom));
}

::-webkit-scrollbar-thumb {
    background: var(--color-header-right);
    border: 3px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-header-left);
    border: 3px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-corner {
    background: var(--color-bg-top);
}

/*
@media (min-width:768px) {
    :root {
        --size-name: 1.8rem;
        --size-title: 1.6rem;
        --size-text: 1.4rem;
        --size-nav: 1rem;
    }
}


@media (min-width:1200px) {
    :root {
        --size-name: 2rem;
        --size-title: 1.8rem;
        --size-text: 1.6rem;
        --size-nav: 1.2rem;
    }
}



*/

@media (min-width:1600px) {
    section {
        margin: 0 calc(7 * var(--dynamic-grid-size)) calc(4 * var(--dynamic-grid-size)) calc(7 * var(--dynamic-grid-size));
    }
}