@use 'vars' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-lcd;
  color: $color-font;
  background: linear-gradient(to bottom, $color-bg-top, $color-bg-bottom);
  overflow-x: hidden;
}

section {
  padding: 0 calc(3 * $grid-width);
}

img {
  width: 100%;
  height: auto;
  display: block;
}



   .ios-fix {
            -webkit-overflow-scrolling: touch;
        }
        
        /* Prevent white gaps on swipe */
        body {
            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
        }

/*  change */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(3 * $grid-width + 1px);
  width: calc(10 * $grid-width + 1px);
  background: linear-gradient(135deg, $color-title-left, $color-title-right);
  pointer-events: none;
}


@media only screen and (max-width: 600px) {
  section {
    padding: 0 $grid-width;
  }
}





::-webkit-scrollbar {
  width: $grid-width;
}

::-webkit-scrollbar-track {
  background: linear-gradient(180deg, $color-bg-top, $color-bg-bottom);
}

::-webkit-scrollbar-thumb {
  background: $color-title-left;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-title-right;
  border: 2px solid transparent;
  background-clip: padding-box;
}

/* Firefox compatible scrollbar */
.firefox-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}