@font-face {
    font-family: "lcd_solidregular";
    src: url("assets/fonts/lcdsolid/lcdsolid-vpzb-webfont.woff2") format("woff2"),
        url("assets/fonts/lcdsolid/lcdsolid-vpzb-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

// Fonts
$font-lcd: "lcd_solidregular";

// Colors
$color-bg-top: #000000;
$color-bg-bottom: #1f2935;
$color-font: #f1f1f1; 
$color-border:#f5deb3;
$color-header-left:#73c046;
$color-header-right: #cb866d;
$color-title-left:#1c4703;
$color-title-right:#409111;

// Grid
$grid-width: 18px;
$grid-stroke-width: 1px;
$grid-stroke-color :rgba(196, 202, 196, 0.1);


// Slide Timing
$slide-down-duration: 0.6s;
$slide-down-delay: 0.08s;

// Break Points
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1400px

