#timeline {
  display: flex;
  gap: var(--dynamic-grid-size);

  .left-block {
    position: sticky;
    top: calc(4 * var(--dynamic-grid-size));
    align-self: flex-start;
    /* Important for proper sticky behavior in flex containers */


    .map-wrapper {
      width: calc(19 * var(--dynamic-grid-size));
      border: 2px solid white;
      overflow: hidden;

      .map {
        scale: 4.4;
      }
    }
  }

  .timeline-wrapper {
    width: calc(25 * var(--dynamic-grid-size));
    height: calc(68 * var(--dynamic-grid-size));
    margin-top: calc(3 * var(--dynamic-grid-size));
  }
}

@media (max-width:576px) {
  #timeline {
    display: flex;
    flex-direction: column;
    gap: var(--dynamic-grid-size);

    .left-block {
      position: sticky;
      top: calc(4 * var(--dynamic-grid-size));
      align-self: flex-start;


      .map-wrapper {
        width: calc(25 * var(--dynamic-grid-size));
        height: calc(12 * var(--dynamic-grid-size)) !important;
        border: 2px solid white;
        overflow: hidden;

        .map {
          scale: 2.4;
          background-color: black;
        }
      }
    }

    .timeline-wrapper {
      width: calc(25 * var(--dynamic-grid-size));
      height: calc(68 * var(--dynamic-grid-size));
      margin-top: calc(3 * var(--dynamic-grid-size));
      z-index: -1;
    }
  }
}