<section id="timeline">
    <div class="left-block">
        <div class="title timeline-title">
            timeline.
        </div>
        <div class="map-wrapper" [style.height.px]="mapHeight">
            <div class="map">
                <ng-lottie [options]="mapOptions" (animationCreated)="onMapAnimationCreated($event)"></ng-lottie>
            </div>
        </div>
    </div>
    <div #timelineSection class="timeline-wrapper">
        <ng-lottie [options]="timeLineOptions" (animationCreated)="onTimelineAnimationCreated($event)"></ng-lottie>
    </div>
</section>