@use '../../../vars' as *;

#resume {
    padding-top: calc($grid-width * 4);
    .wrapper{
        width: 30rem;
        border: 4px solid wheat;
        overflow: hidden;
        .map{  
            scale: 2;
        }
    }
}