#cases {
    padding-left: 0;
    padding-right: 0;

    .cases {
        background-color: white;
        padding: var(--dynamic-grid-size);
        position: relative;

        .cases-title {
            display: flex;
            align-items: center;
            padding-left: var(--dynamic-grid-size);
            font-family: var(--font-title);
            font-size: 1rem;
            height: calc(2 * var(--dynamic-grid-size));
            width: calc(10 * var(--dynamic-grid-size));
            background: linear-gradient(135deg, var(--color-header-left), var(--color-header-right));
            margin-bottom: var(--dynamic-grid-size);
        }

        .cases-btns {
            position: absolute;
            top: var(--dynamic-grid-size);
            right: var(--dynamic-grid-size);
            display: flex;
            gap: calc(2 * var(--dynamic-grid-size));

            .prev {
                .prev-icon {
                    height: calc(2 * var(--dynamic-grid-size));
                    rotate: 180deg;
                    cursor: pointer;
                }

                .disable {
                    fill: gray;
                    cursor: default;
                }
            }

            .next {
                .next-icon {
                    height: calc(2 * var(--dynamic-grid-size));
                    cursor: pointer;
                }

                .disable {
                    fill: gray;
                    cursor: default;
                }
            }
        }

        .cases-img {
            width: 100%;
            aspect-ratio: 1 / 1;
            margin-bottom: var(--dynamic-grid-size);
        }

        .cases-info {
            color: black;

            .project-name {
                line-height: var(--dynamic-grid-size);
                font-family: var(--font-title);
                font-size: 0.9rem;
                font-weight: 700;
                margin-bottom: var(--dynamic-grid-size);
            }

            .project-info {
                font-size: 0.8rem;
                line-height: var(--dynamic-grid-size);
            }

            .more {
                display: flex;
                align-items: center;
                justify-self: end;
                width: fit-content;
                cursor: pointer;
                font-size: 0.8rem;
                margin-top: var(--dynamic-grid-size);
                line-height: var(--dynamic-grid-size);
            }
        }
    }
}

@media (min-width: 768px) {
    #cases {
        .cases {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: calc(1 * var(--dynamic-grid-size));
            padding: calc(2 * var(--dynamic-grid-size)) calc(3 * var(--dynamic-grid-size));
            
            .cases-title {
                position: absolute;
                top: calc(2 * var(--dynamic-grid-size));
                left: calc(3 * var(--dynamic-grid-size));
                font-size: 1.4rem;
            }

            .cases-btns {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                width: calc(30 * var(--dynamic-grid-size));
                height: calc(16 * var(--dynamic-grid-size));
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .cases-info {
                grid-row-start: 1;
                grid-column-start: 1;
                margin-top: calc(3 * var(--dynamic-grid-size));
                position: relative;

                .project-name {
                    font-size: 1.2rem;
                }

                .project-info {
                    font-size: 0.8rem;
                }

                .more {
                    position: absolute;
                    bottom: 0;
                    font-size: 1.2rem;
                }
            }

            .cases-img {
                grid-row-start: 1;
                grid-column-start: 2;
                margin-bottom: 0;
                width: calc(12 * var(--dynamic-grid-size));
            }
        }
    }
}

@media (min-width: 992px) {
    #cases {
        .cases {
            .cases-title {
                font-size: 1.6rem;
            }

            .cases-btns {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                width: calc(40 * var(--dynamic-grid-size));
                height: calc(25 * var(--dynamic-grid-size));
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .cases-info {
                grid-row-start: 1;
                grid-column-start: 1;
                margin-top: calc(3 * var(--dynamic-grid-size));
                position: relative;

                .project-name {
                    font-size: 1.4rem;
                }

                .project-info {
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                }

                .more {
                    font-size: 1.2rem;
                }
            }

            .cases-img {
                width: calc(22 * var(--dynamic-grid-size));
            }
        }
    }
}


@media (min-width: 1200px) {
    #cases {
        .cases {
            .cases-title {
                font-size: 1.6rem;
            }

            .cases-btns {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                width: calc(50 * var(--dynamic-grid-size));
                height: calc(25 * var(--dynamic-grid-size));
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .cases-info {
                grid-row-start: 1;
                grid-column-start: 1;
                margin-top: calc(3 * var(--dynamic-grid-size));
                position: relative;

                .project-name {
                    font-size: 1.4rem;
                }

                .project-info {
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                }

                .more {
                    font-size: 1.2rem;
                }
            }

            .cases-img {
                width: calc(22 * var(--dynamic-grid-size));
            }
        }
    }
}